# pandas

In [1]:
import numpy as np
import pandas as pd

In [2]:
pets = pd.DataFrame({'sex': np.array(['M', 'M', 'F', 'M', 'F', 'F', 'F', 'M', 'F', 'M']),
                   'age': np.array([21, 45, 23, 56, 47, 70, 34, 30, 19, 62]),
                   'pets': np.array([['cat', 'dog'],
                                    ['hamster'],
                                    ['cat', 'gerbil'],
                                    ['fish', 'hamster', 'gerbil'],
                                    ['cat'],
                                    ['dog'],
                                    ['dog'],
                                    ['cat'],
                                    ['rabbit', 'cat'],
                                    ['dog']])})

C:\Users\Clarissa Shakeel\AppData\Local\Temp\ipykernel_12856\627336042.py:3: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  'pets': np.array([['cat', 'dog'],

In [3]:
pets

  sex  age                     pets
0   M   21               [cat, dog]
1   M   45                [hamster]
2   F   23            [cat, gerbil]
3   M   56  [fish, hamster, gerbil]
4   F   47                    [cat]
5   F   70                    [dog]
6   F   34                    [dog]
7   M   30                    [cat]
8   F   19            [rabbit, cat]
9   M   62                    [dog]

## 1 What sex was the youngest respondent?

In [4]:
#use loc accessor n create boolean index that is True whn value is equal to the Min in age column nd thn selct the sex column.

pets.loc[pets['age'] == min(pets['age']), 'sex']

8    F
Name: sex, dtype: object

## 2 What age was the person with the most pets?

In [12]:
#create a new column 'num_pets' and apply  lambda function to find ot how many pets each person have
pets['num_pets'] = pets['pets'].apply(lambda x: len(x))
pets  #---if you want to see the list after seting the new column 'num_pets'
pets.loc[pets['num_pets'] == max(pets['num_pets']), 'age']

3    56
Name: age, dtype: int32

## 3 What was the most popular pet?

In [7]:
#to claculate this we have to find the frequence of each pet in the data which we can find by setting series
pet_series = pets['pets'].apply(pd.Series).stack().reset_index(drop=True)
pet_series#if you want to see the list
pet_series.value_counts()#cat has the highest frequescy

cat        5
dog        4
hamster    2
gerbil     2
fish       1
rabbit     1
dtype: int64

## 4 What was the average age of dog owners?

In [8]:
#use a lambda function to create a boolean index which is True if a respondent said they had a dog and False otherwise
pets.loc[pets['pets'].apply(lambda x: 'dog' in x), 'age'].mean()

46.75